<!DOCTYPE html>

<html>

<head>
        <meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/news.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
    <title>Hacker News</title>
</head>

<body>
    <center>
        <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tr>
                <td bgcolor="#ff6600">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                        <tr>
                            <td style="width:18px;padding-right:4px"><a href="https://news.ycombinator.com"><img src="/public/images/y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>
                            <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="news">Hacker
                                            News</a></b>
                                    <a href="newswelcome.html">welcome</a> | <a href="newest">new</a> | <a href="threads?id=highven">threads</a>
                                    | <a href="newcomments">comments</a> | <a href="show">show</a> | <a href="ask">ask</a>
                                    | <a href="jobs">jobs</a> | <a href="submit">submit</a> </span></td>
                            <td style="text-align:right;padding-right:4px;"><span class="pagetop">
                                    <a id='me' href="user?id=highven">highven</a> (1) |
                                    <a id='logout' href="logout?auth=6f1abf3316dc78ac9b9ea6989b72287cadb7ec59&amp;goto=news">logout</a>
                                    </span></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height:10px"></tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                        <% for(var i = 0; i < news.length; i++) { %>
                        <tr class='athing' id='17919297'>
                            <td align="right" valign="top" class="title"><span class="rank"><%=i+1%>.</span></td>
                            <td valign="top"
                                class="votelinks">
                                <center><a id='up_17919297' onclick='return vote(event, this, "up")' href='vote?id=17919297&amp;how=up&amp;auth=278f8ffc80f983ef1a7ebbed7a55ff9695ebe923&amp;goto=news'><div
                                            class='votearrow' title='upvote'></div></a></center>
                            </td>
                            <td class="title"><a href="item?id=<%=news[i].id%>" class="storylink"><%=news[i].title%></a><span
                                    class="sitebit comhead"> (<a href="from?site=toolbox.google.com"><span class="sitestr">toolbox.google.com</span></a>)</span></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="subtext">
                                <span class="score" id="score_17919297">638 points</span> by <a href="user?id=kmax12" class="hnuser">kmax12</a>
                                <span class="age"><a href="item?id=17919297">10 hours ago</a></span> <span id="unv_17919297"></span>
                                | <a href="hide?id=17919297&amp;goto=news&amp;auth=278f8ffc80f983ef1a7ebbed7a55ff9695ebe923"
                                    onclick="return hidestory(event, this, 17919297)">hide</a> | <a href="item?id=17919297">43&nbsp;comments</a>
                                </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        <% } %>
                    </table>
                </td>
            </tr>
            <tr>
                <td><img src="/public/images/s.gif" height="10" width="0"><table width="100%" cellspacing="0" cellpadding="1">
                        <tr>
                            <td bgcolor="#ff6600"></td>
                        </tr>
                    </table><br><center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
                            | <a href="newsfaq.html">FAQ</a>
                            | <a href="mailto:hn@ycombinator.com">Support</a>
                            | <a href="https://github.com/HackerNews/API">API</a>
                            | <a href="security.html">Security</a>
                            | <a href="lists">Lists</a>
                            | <a href="bookmarklet.html" rel="nofollow">Bookmarklet</a>
                            | <a href="http://www.ycombinator.com/legal/">Legal</a>
                            | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
                            | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
                            <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
                    </center>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>